
.first img{
    height: 100px;
    width: 92px;
    margin-right:10px ;
}
.first-heading h4{
    font-weight: bolder;
    color: rgb(17, 17, 122);
    font-family: 'Roboto', sans-serif;
}
.first-heading p{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    padding-top: 3px;
}
.first-heading p span{
    padding-left: 12px;
    color: rgb(43, 43, 179);
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 2px 6px rgb(145, 141, 141);
}
.first-heading h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    padding-left: 202px;
    padding-top: 5px;
    font-weight:bold;
}
.background img{
    height: 241px;
    width: 100%;
}
.hr-1 img{
    height: 34px;
    width: 100%;
}
.first-container{
    width: 325px;
    height: 89px;
    background-color: rgb(237, 240, 243);
    border-top: 3.7px solid rgb(46, 46, 255);
    border-bottom: 3.7px solid rgb(167, 24, 167);
    
}
.first-container h3{
    padding-top: 18px;
    padding-left: 21px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: rgb(31, 30, 30);
}
.first-container a{
    text-decoration: none;
    color: black;
}
.first-container li{
    padding-top: 10px;
    padding-left: 21px;
}
.second-container{
    width: 363px;
    height: 89px;
    background-color: rgb(237, 240, 243);
    margin-left: 58px;
    border-top: 3.7px solid rgb(46, 46, 255);
    border-bottom: 3.7px solid rgb(167, 24, 167);
}
.second-container h3{
    padding-top: 18px;
    padding-left: 21px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: rgb(31, 30, 30);
}
.second-container a{
    text-decoration: none;
    color: black;
}
.second-container li{
    padding-top: 10px;
    padding-left: 21px;
}
.third-container{
    width: 357px;
    height: 89px;
    background-color: rgb(237, 240, 243);
    margin-left: 63px;
    border-top: 3.7px solid rgb(46, 46, 255);
    border-bottom: 3.7px solid rgb(167, 24, 167);
}
.third-container h3{
    padding-top: 18px;
    padding-left: 21px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: rgb(31, 30, 30);
}
.third-container a{
    text-decoration: none;
    color: black;
}
.third-container li{
    padding-left: 23px;
    padding-top: 12px;
}
.fifth h4{
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.second-hr{
    margin:auto;
    width:46.5vw ;
    border-width: 3px;
}
.first-box{
    background-color: #498fb4;
    height: 90px;
    width: 245px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
}
.first-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: #247676;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3{
    font-size: 16px;
}
.second-box{
    background-color: #366781;
    height: 96px;
    width: 245px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 6px;
}
.second-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: #0c4747;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-2{
    padding-top: 20px;
    font-size: 14px;
}
.third-box{
    background-color: rgb(255 171 14 / 87%);
    height: 96px;
    width: 245px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 6px;
}
.third-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: #9c5e25;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-3{
    padding-top: 19px;
    font-size: 14px;
}
.forth-box{
    background-color: rgb(30 176 176);
    height: 96px;
    width: 221px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
}
.forth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color:rgb(24, 104, 104);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-4{
    font-size: 14px;
}
.fifth-box{
    background-color: rgb(96 60 182 / 94%);
    height: 96px;
    width: 219px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 28px;
}
.fifth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-5{
    font-size: 14px;
    padding-left: 6px;
}
.sixth-box{
    background-color: rgb(59, 59, 90);
    height: 96px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
}
.sixth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-6{
    font-size: 14px;
    padding-top: 23px;
}
.seventh-box{
    background-color: rgb(59, 59, 90);
    height: 96px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
}
.seventh-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-7{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 23px;
}
.fifth-3 h4{
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.eighth-box{
    background-color: rgb(96 60 182 / 94%);
    height:130px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
}
.eighth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-8{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 23px;
}
.fifth-4 h4{
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.ninth-box{
    background-color: rgb(96 60 182 / 94%);
    height: 96px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
}
.ninth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-9{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 23px;
}
.tenth-box{
    background-color: rgb(96 60 182 / 94%);
    height: 96px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    margin-left: 21px;
}
.tenth-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-10{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 23px;
}
.eleventh-box{
    background-color: rgb(96 60 182 / 94%);
    height: 112px;
    width: 220px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    margin-left: 21px;
    position: absolute;
    top: 1107px;
    left: 417px;
}
.eleventh-box button{
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 25px;
    margin-top:12px;
    color: white;
    background-color: rgb(49, 21, 75);
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    cursor: pointer;
}
.box-h3-11{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 23px;
}
.big-container-1 h3{
    text-align: center;
    padding-top: 12px;
    font-size: 24px;
    color: #2332a9;
    font-family: 'Open Sans', sans-serif;

}
.big-container-1 hr{
    margin: auto;
    width: 19vw;
    border-width: 3px;
}
.list{
    padding: 4px 30px;
    text-align: left;
}
.list li{
    padding-top: 8px;
}

